/*****@media (min-width: 600px){
	body {
		background:red;
	}
}

@media(min-width: 1000px){
	body{
		background: blue;
	}
}
******/
/*body{
	background-image: url("1.jpg");
}*/
a {
text-decoration: none;
}

nav {
    top: 0;
    width: 100%;
    
}

nav ul{
	float: right;
	padding-top: 30px;

}

li {
    display: inline;
    font-weight:lighter;
    letter-spacing: 2px;
    padding-right: 20px;
    color: white;
    font-family: verdana; 


}

#openning{
	margin-top: -650px;
	padding-left: 100px;
	z-index: 1;
	font-family: baskerville; 
	font-weight:lighter;
	font-size: 150px;
	line-height: 0%;
	color: black;


}

#openningtwo{

	padding-left: 100px;
	padding-bottom: 145px;
	z-index: 1;
	font-family: baskerville; 
	font-weight:lighter;
	font-size: 60px;
	line-height: 120%;
	color: black;


}

#logo{
	float: left;
	height:100px;
	padding-left: 30px;
	padding-top: 30px;

}

#backgroundimg {
	position: relative;
	top: -200px;
	width:100%;
	z-index: -1;
}





#portfolio{
	height: 900px;
	margin-top: 160px;
	margin-left: 8px;
	

}


h1:hover{
	transform: scale(1.03,1.03);
	transition:5s ease;
}

.img{

	width: 408px;
	padding-top: 100px;
	padding-left: 45px;
}




#about {

	height: 430px ;
	width: 100%;
    font-family: verdana;
    font-size: 15px;
    color: #D4D4D4;
    margin-top: 150px;
    margin-left: 0 px;
    background-color: #849eb2;
    padding-top: 50px;
}
.selfie{
	float: left;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 20px;
}

#aboutme{
	font-size: 35px;
	padding-top: 40px;
	padding-bottom: 5px;
	color: #212121;


}


.intro{
	padding-right: 400px;
	color:black;
	line-height: 130%;
	font-family: baskerville; 
	font-size: 17px;
}

h3{
	color:black;
	font-family: baskerville; 
	font-weight:lighter;
}


#contact{

	margin-right: 60px;
	margin-top: -300px;


}

.icon{
	width: 40px;
	padding-right: 15px;
	float: right;

}


/* Form */

	



body{margin:0 auto}；




