/*****@media (min-width: 600px){
	body {
		background:red;
	}
}

@media(min-width: 1000px){
	body{
		background: blue;
	}
}
******/
/*body{
	background-image: url("1.jpg");
}*/

nav {
    top: 0;
    width: 100%;
    
}

nav ul{
	float: right;
	padding-top: 30px;
}

li {
    display: inline;
    padding-right: 20px;
    color: white;

}

#openning{
	margin-top: -650px;
	padding-left: 100px;
	z-index: 1;
	font-family: baskerville; 
	font-weight:lighter;
	font-size: 150px;
	line-height: 0%;
	color: white;


}

#openningtwo{

	padding-left: 100px;
	padding-bottom: 145px;
	z-index: 1;
	font-family: baskerville; 
	font-weight:lighter;
	font-size: 60px;
	line-height: 120%;
	color: white;


}

#logo{
	float: left;
	height:100px;
	padding-left: 30px;
	padding-top: 30px;

}

#backgroundimg {
	position: relative;
	top: -200px;
	width:100%;
	z-index: -1;
}


#portfolio{
	height: 2000px;

}


h1:hover{
	transform: scale(1.03,1.03);
	transition:5s ease;
}



#about {

	height: 430px ;
	width: 100%;
    font-family: verdana;
    font-size: 15px;
    color: #D4D4D4;
    margin-top: 150px;
    margin-left: 0 px;
    background-color: #8FAA9D;
    padding-top: 50px;
}
.selfie{
	float: left;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 20px;
}

#aboutme{
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 5px;
	color: #212121;
}


.intro{
	padding-right: 400px;
	color:white;
	line-height: 130%;
}


body{margin:0 auto}；


h3{
	color:white;
}
