#myAwesomeToDoList{
	margin-left:  auto;
	margin-right:  auto;
	width: 510px;
	background-color: navy;
	padding: 5px;
	height: auto;

}


#myAwesomeToDoList h1{

	font-family: 'Arial Black', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: salmon;

}

#newTask:focus{
	outline: none;
}

#addButton{
	height: 43px;
	width: 510px;
	margin-top: 0px;
	padding-top: 3px;
	float: right;
	background-color: navy;
	border: 3px solid #b8e356;
	color: #b8e356;
	font-family: 'Arial Black';
	font-size: 14px;
	
}


.task{
	width: 503px;
	margin-top: 10px;
	padding: 1px;
	background-color: salmon;

}

.task p{
	width: 400px;
	height: 20px;
	background-color: white;
	margin: 5px;
	font-size: 16px;
	padding-top: 3px;
	padding-left: 5px;
	font-family: 'Arial', sans-serif;

}

#deleteButton{
	height: 23px;
	width: 20px;
	float: right;
	margin-top: -28px;
	margin-right: 5px;
	background-color: navy;
	border: 1px solid navy;
	color: #b8e356l
	font-family: 'Arial Black';
	font-size: 15px;
	padding: 0px;
	cursor: pointer;

}

#deleteAll{
	padding-top: 4px;
}